.image-detail-block { 
  padding: 5.3rem 0 4.5rem 0;
  position: relative;
  .col-lg-7 {
    margin-top: -1rem;
    @include media-breakpoint-down(lg){ 
      margin-top: 0;
    }
  }
  @include media-breakpoint-down(xl){
    padding: 4rem 0 3rem 0;
}
.heading-for-mobile {
  display: none;
  @include media-breakpoint-down(lg){ 
    display: block;
    margin-bottom: 25px;
    margin-top: -1rem;
  }
}
.heading-for-desktop {
  @include media-breakpoint-down(lg){ 
    display: none;
  }
}
  h6 {
    color: $grey;
  }
  p {
    color: $black;
  }
  &--dark {
    h6 {
      color: $yellow;
    }
    h4, p {
      color: $white;
    }
  }
  .container {
    position: relative;
    z-index: 1;
  }
  .video--cont { 
    @include media-breakpoint-down(lg){ 
      margin-bottom: 20px;
    }
    .play-icon {
      img {
        max-width: 82px;
      }
    }
  }
  
  
  .pe-4 {
    padding-right: 2rem !important;
  }
}