.image-detail-block {
  .container {
    position: relative;
    z-index: 1;
  }
  h6 {
    color: $yellow;
  }
  h4, p {
    color: $white;
  }
  p {
    font-size: 1.125rem;
    line-height: 1.575rem;
  }
}