.image-detail-block { 
  padding: 5.3rem 0 4.5rem 0;
  position: relative;
  @include media-breakpoint-down(xl){
    padding: 3rem 0;
  }
  &.art_block{
    padding: 1rem 0 5rem 0;
    @include media-breakpoint-down(xl){
      padding: 1rem 0 3.75rem 0;
    }
    @include media-breakpoint-down(md){
      padding: 1rem 0 2.5rem 0;
    }
  }
  a.more_link{
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1.375rem;
    color: #1FA79D;
    svg{
      margin-left: 0.3rem;
    }
  }
  .events{
    margin-bottom:3rem;
    h2{
      font-size: 2.125rem;
      font-weight: 400;
      font-family: $secondary-font;
      line-height: 3.125rem;
    }
  }
.heading-for-mobile {
  display: none;
  @include media-breakpoint-down(lg){ 
    display: block;
    margin-bottom: 25px;
  }
}
.heading-for-desktop {
  @include media-breakpoint-down(lg){ 
    display: none;
  }
}
  h6 {
    color: $grey;
  }
  p {
    color: $black;
  }
  
  &--dark {
    h6 {
      color: $yellow;
    }
    h4, p {
      color: $white;
    }
  }
  .container {
    position: relative;
    z-index: 1;
  }
  .video--cont { 
    @include media-breakpoint-down(lg){ 
      margin-bottom: 20px;
    }
    .play-icon {
      img {
        max-width: 82px;
      }
    }
  }
  
  
  .pe-4 {
    padding-right: 2rem !important;
  }
}