.border-effect {
  position: relative;
}
.border-effect::before {
  content: "";
  border: 1px solid #C04093;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -0.4375rem;
  left: 0.4375rem;
  z-index: -1;
}

.border-effect-workshop {
  position: relative;
}
.border-effect-workshop::before {
  content: "";
  border: 1px solid #C5D646;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -0.5625rem;
  left: 0.5625rem;
}
.border-effect-workshop img {
  position: relative;
}

.hero__section {
  margin-top: 2.5rem;
}

.conf__info--block {
  background-color: #F4F4F4;
  padding: 1.875rem 1.875rem 0.875rem 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.conf__info--block h1 {
  font-size: 3.75rem;
  color: #000;
  font-family: "Bebas Neue", cursive;
  margin: 0;
  line-height: 4.188rem;
}
.conf__info--block p {
  font-size: 1.375rem;
  margin-bottom: 0;
}

.conf__date--block {
  background: #C04093;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0.563rem 1.063rem;
}
.conf__date--block h6 {
  font-size: 1.125rem;
  color: #fff;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  margin: 0;
  line-height: normal;
}

.social__update--block {
  margin-top: 1.875rem;
  background: rgba(208, 208, 208, 0.2);
  padding: 1.125rem 1.875rem;
}
.social__update--block .social__link {
  display: flex;
  justify-content: flex-end;
}
.social__update--block .social__link .btn {
  display: flex;
  align-items: center;
  gap: 10px;
}
.social__update--block .social__link .btn:hover svg path {
  fill: #fff;
}

.social__update__title h6 {
  color: #C04093;
  font-size: 0.875rem;
  font-family: "Oswald", sans-serif;
}
.social__update__title h4 {
  font-family: "Bebas Neue", cursive;
  font-size: 2.5rem;
}

.home__video--block {
  background-color: #000;
  position: relative;
  margin-top: 5rem;
  padding-bottom: 5rem;
}
.home__video--block .home__video--container {
  position: relative;
  z-index: 1;
}
.home__video--block::before {
  content: "";
  background-image: url("/media/retro__bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 29.1875rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.home__video--title {
  padding-top: 5.125rem;
}
.home__video--title h6 {
  font-size: 0.875rem;
  font-family: "Oswald", sans-serif;
  color: #757575;
  font-weight: 400;
}
.home__video--title h4 {
  font-family: "Bebas Neue", cursive;
  font-size: 2.5rem;
  max-width: 28.75rem;
  margin: auto;
  color: #000;
}

.video--cont {
  margin-top: 2.125rem;
}

.acc--block-title {
  margin-top: 5rem;
  margin-bottom: 1.875rem;
}
.acc--block-title h4 {
  font-family: "Bebas Neue", cursive;
  font-size: 2.5rem;
  margin: auto;
  color: #fff;
}
.acc--block-title h6 {
  font-size: 0.875rem;
  font-family: "Oswald", sans-serif;
  color: #C5D646;
  font-weight: 400;
}

.acc__bg--color {
  background: rgba(255, 255, 255, 0.15);
}

.acc__day--header {
  border: 1px solid #8B8B8B;
  color: #fff;
}
.acc__day--header h5 {
  font-size: 1.25rem;
  font-family: "Oswald", sans-serif;
  line-height: 1.875rem;
  text-transform: uppercase;
  margin: 0;
}
.acc__day--header h6 {
  font-size: 0.75rem;
  line-height: 0.875rem;
  font-weight: 400;
  margin: 0;
}

.accordion__outer--block .workshops_body .card-title {
  font-family: "Oswald", sans-serif;
  font-size: 1.25rem;
  margin-top: 0.6875rem;
  margin-bottom: 0.8125rem;
  line-height: 1.6875rem;
}
.accordion__outer--block .workshops_body .wk__link {
  color: #1FA79D;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 600;
}
.accordion__outer--block .workshops_body .wk__link span {
  text-decoration: underline;
}
.accordion__outer--block .workshops_body .wk__link svg {
  margin-left: 0.3125rem;
}

.workshop__artist-detail {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-bottom: 1.125rem;
}
.workshop__artist-detail .profile__pic {
  width: 3.125rem;
}
.workshop__artist-detail .profile__pic img {
  border: 2px solid #C1DBE0;
  border-radius: 50%;
  overflow: hidden;
}
.workshop__artist-detail .profile__info h6 {
  font-size: 0.875rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}
.workshop__artist-detail .profile__info p {
  font-size: 0.75rem;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  margin-bottom: 0;
}

/*# sourceMappingURL=home.css.map */
