.past-event-detail {
  padding: 2.5rem 0;
  .video--cont {
    position: relative;
    z-index: 1;
  }
  .image-detail-block {
    padding:50px 30px 30px 30px;
  }
}

.events  {
  h2 {
    color: $black;
  }
  p {
    margin-bottom: .5rem;
  }
} 