.pricing_hero_section{
    h1 {
        @include media-breakpoint-down(sm){
            font-size: 2rem;
            line-height: 2.5rem;
        }
    }
    p {
        @include media-breakpoint-down(sm){
         font-size:.875rem;
        }
    }
    padding: 2.5rem 0;
    @include media-breakpoint-down(lg){
        padding: 1.5rem 0;
    }
     .banner__block{
        @include media-breakpoint-down(lg){
            display: none;
        }
     }
    .conf__info--block{
        padding:0 2.8rem  ;
        gap:0;
        @include media-breakpoint-down(lg){
            background: url('../media/program-banner.png') no-repeat center center;   
            color: $white; 
            text-align: center; 
            align-items: center;
            padding:5rem 2.4rem;
            background-size: cover;
        }
        @include media-breakpoint-down(md){
            padding: 3.425rem 2rem
        }
        h1{
            @include media-breakpoint-down(lg){
                color: $white;
                text-align: center;
            } 
        }
    }
}
.pricing_module{
    position: relative;
    @include media-breakpoint-down(lg){
        padding-bottom: 1.875rem;
    }
    
        .traingle-shape{
            bottom: 0;
            top: auto;
            @include media-breakpoint-down(lg){
                display: none;
            }
            &.reverse{
                right: 0;
                top: -90px;
                left: auto;
            }
        }
        
    
    .block{
        margin-bottom: 30px;
        .pr-0{
            @include media-breakpoint-down(lg){
               padding-right: calc(var(--bs-gutter-x)*.5);
            }
        }
        .pl-0{
            @include media-breakpoint-down(lg){
                padding-left: calc(var(--bs-gutter-x)*.5);
             }
        }
        .offer_package{
            padding: 1.5rem;
            color: $white;
            height: 100%;
            h4{
                font-size: 1.5rem;
                line-height: 2.8rem;
                font-weight: 600; 
                padding-bottom: 0.75rem;   
                color: $white; 
                font-family: $ternary-font  ;
                
            }
            .price{
                font-size: 2.75rem;
                line-height: 2.875rem;
                padding-bottom: 1.5rem;
                font-family: $secondary-font ;
                margin-bottom: 0;
               
            }
            .comment{
                background: rgba(255, 255, 255, 0.2);
                padding: 0.625rem;
                font-size: 1rem;
                line-height: 1.5rem;
                font-weight: 400;
                font-style: italic;
                margin-bottom: 1.5rem;
                font-family: $ternary-font  ;
                p{
                    margin-bottom: 0;
                }
                @include media-breakpoint-down(lg){
                    margin-bottom: 1.25rem;
                }
            }
            .book-cta{
                display: inline-block;
                font-size: 1.125rem;
                line-height: 1.625rem;
                font-family: $secondary-font;
                padding: 1.125em 1.85em;
                color: $white;
                border: 1px solid $white;
                text-decoration: none;
                @include media-breakpoint-down(lg){
                    padding: 0.5em 1.65em;
                }
            }
        }
        .package_properites{
            border: 1px solid #E1E1E1;
            box-shadow: 0px 4px 50px rgba(226, 226, 226, 0.25);
            padding: 1.65rem 1.875rem;
            background-color: $white;
            @include media-breakpoint-down(lg){
                padding-bottom: 1.5rem;
            }
            @include media-breakpoint-down(md){
                padding-bottom: 0.675        rem;
            }
            ul{
                list-style: none;
                padding-left: 1rem;
                @include media-breakpoint-down(lg){
                    padding-left: 0;
                }
                li{
                    padding-left: 1rem;
                    font-size: 1.125rem;
                    line-height: 2.5rem;
                    font-family: $ternary-font;
                    font-weight: 400;
                    color: $black;
                    position: relative;
                    @include media-breakpoint-down(lg){
                        padding-bottom: 0.75rem;
                        font-size: 1rem;
                        line-height: 1.675rem;
                    }
                    &::before{
                        background: url(../../media/Vector.png) no-repeat;
                        content: "";
                        left: 0;
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        top: 20px;
                        transform: translate(-50%,-50%);
                    }
                }
            }
        }
    }
}