.bg-program {
  background :url(../../media/program-banner.png) no-repeat;
  background-size: cover;
  h1 {
    color: $white;
  }
  
}
.image-detail-block{
  p{
    &:first-child{
      margin-top: -0.875rem;
    }
  }
}
.day_tabs{
  .section_heading{
    h2{
      font-size: 2.5rem;
      line-height: 2.5rem;
      font-weight: 700;
      padding-bottom: 1.4rem;
      color: $black;
      text-transform: uppercase;
      padding-top: 1.875rem;
    }
  }
  .long_card{
    border-bottom: 1px solid #CBCBCB;
    .row{
      padding-bottom: 1.875rem;
    }
  }
  .author_details{
    .time{
      font-size: 1rem;
      line-height: 1.5rem;
      font-family: $secondary-font;
      font-weight: 400;
      text-transform: uppercase;
      color: #C04093;
      padding-left: 1.5rem;
      position: relative;
      &::before{
        position: absolute;
        content: '';
        background: url('../../media/time.svg') no-repeat center center;
        width: 12px;
        height: 12px;
        left: 0.01rem;
        top: 0.3rem;
      }
    }
    h2{
      color: $black;
      font-size: 2.125rem;
      line-height: 3.125rem;
      font-family: $secondary-font;
      font-weight: 400;
      
    }
    p.content{
      color: $black;
      padding-bottom: 1rem;
    }
  }
  .author_details{
    display: flex;
    .content_wrap{
      padding-left: 1.875rem;
      .authors_wrap{
        display: flex;
        padding-bottom: 1.5rem;
        .image-wrap{
          padding-right: 1rem;
        }
        .author_info{
         
          .name{
            margin-bottom: 0;
            font-size: 0.875rem;
            line-height: 1rem;
            color: $black;
            font-family: $secondary-font;
            padding-bottom: 0.2rem;
          }
          .position{
            font-size: 0.75rem;
            line-height: 0.875rem;
            color: $black;
          }
        }
      }
    }

  }
  .card-blocks{
    border-bottom: 1px solid #CBCBCB;
    .short_card{
      margin-bottom: 2rem;
      .video--cont{
        img{
          max-width: 98%;
        }
        &::before {
          left: 0.3rem;
        }
      }
      .author_details{
        .content_wrap{
          background-color: #F8F8F8;
          padding: 1.25rem;
        }
      }
    }
  }
}