.bg-program {
  background :url(../../media/program-banner.png) no-repeat;
  background-size: cover;
  h1 {
    color: $white;
  }
  
}
.image-detail-block{
  p{
    &:first-child{
      margin-top: -0.875rem;
    }
  }
  &.art_block{
    p{
      &:first-child{
        @include media-breakpoint-down(lg){
          margin-top: 0;
        }
      }
    }
  }
}
.day_tabs{
  position: relative;
  padding-bottom: 5rem;
  .tabs-sec-wrap{
    border: 1px solid #8B8B8B;
    @include media-breakpoint-down(lg){
      border: none;
    }
    .tab-content{
      padding: 0 1.875rem;
      @include media-breakpoint-down(lg){
        padding: 0 ;
      }
    }
    .day{
      font-family: $secondary-font;
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 1.875rem;
      text-transform: uppercase;
    }
    .date{
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 0.875rem;
    }
  }
  .section_heading{
    h2{
      font-size: 2.5rem;
      line-height: 2.5rem;
      font-weight: 700;
      padding-bottom: 1.4rem;
      color: $black;
      text-transform: uppercase;
      padding-top: 1.875rem;
      font-family: $primary-font;
    }
  }
  .long_card{
    border-bottom: 1px solid #CBCBCB;
    &:last-child{
      @include media-breakpoint-down(lg){
        border: 0;
      }
    }
    .row{
      padding-bottom: 1.875rem;
    }
  }
  .author_details{
    .time{
      font-size: 1rem;
      line-height: 1.5rem;
      font-family: $secondary-font;
      font-weight: 400;
      text-transform: uppercase;
      color: #C04093;
      padding-left: 1.5rem;
      position: relative;
      width: 100%;
      display: inline-block;
      @include media-breakpoint-down(md){
        display: none;
      }
      &::before{
        position: absolute;
        content: '';
        background: url('../../media/time.svg') no-repeat center center;
        width: 12px;
        height: 12px;
        left: 0.01rem;
        top: 0.3rem;
        
      }
    }
    h2{
      color: $black;
      font-size: 2.125rem;
      line-height: 3.125rem;
      font-family: $secondary-font;
      font-weight: 400;
      @include media-breakpoint-down(md){
        font-size: 1.125rem;
        line-height: 1.725rem;
      }
    }
    p.content{
      color: $black;
      padding-bottom: 1rem;
      @include media-breakpoint-down(md){
        display: none;
      }
    }
  }
  .author_details{
    display: flex;
    .content_wrap{
      padding-left: 1.875rem;
      .authors_wrap{
        display: flex;
        padding-bottom: 1.5rem;
        @include media-breakpoint-down(md){
          border-bottom: 1px solid #353535;
          padding-bottom: 0.8rem;
        }
        .image-wrap{
          padding-right: 1rem;
          @include media-breakpoint-down(md){
            padding-right: 0.5rem;
          }
          img{
            @include media-breakpoint-down(lg){
              max-width: 35px;
           }
          }
        }
        .author_info{
          .name{
            margin-bottom: 0;
            font-size: 0.875rem;
            line-height: 1rem;
            color: $black;
            font-family: $secondary-font;
            padding-bottom: 0.2rem;
          }
          .position{
            font-size: 0.75rem;
            line-height: 0.875rem;
            color: $black;
          }
        }
      }
      @include media-breakpoint-down(lg){
        padding: 1.275rem 0;
     }
    }

  }
  .card-blocks{
    border-bottom: 1px solid #CBCBCB;
    .short_card{
      margin-bottom: 2rem;
      .video--cont{
        
        img{
          max-width: 98%;
        }
        .play-icon{
          @include media-breakpoint-down(lg){
            display: none;
          }
        }
        &::before {
          left: 0.3rem;
        }
      }
      .author_details{
        .content_wrap{
          background-color: #F8F8F8;
          padding: 1.25rem;
          @include media-breakpoint-down(md){
            padding: 0.275rem 0;
            width: 100%;
          }
          .wk__link{
            @include media-breakpoint-down(md){
              padding-top: 0.5rem;
              display: inline-block;
            }
          }
        }
      }
    }
  }
}
