.info-banner {
  padding: 2.5rem 0;
  position: relative;
  .bg-light {
    background: #F5F5F5;
    padding: 1.2rem 0;
  }
  h6 {
    color: $grey;
  }
  .speker-detail {
    ul {
      list-style: none;
      li {
        flex: 0 0 50%;
        font-family: $secondary-font;
        text-transform: uppercase;
        margin-bottom: 20px;
        svg {
          margin-right: 5px;
        }
        &:last-child {
          flex: 0 0 100%;
          margin-bottom: 0;
          
        }
      }
    }
  }
}