.info-banner {
  padding: 2.5rem 0;
  position: relative;
  @include media-breakpoint-down(lg){ 
    padding:2rem 0 2.5rem 0;
    .info--title {
      text-align: center;
      margin-bottom: 10px;
    }
  }

  .bg-light {
    background: #F5F5F5;
    padding: 1.2rem 0;
  }
  h6 {
    color: $grey;
  }
  .speker-detail {
    ul {
      list-style: none;
      padding-left: 2.5rem;
      @include media-breakpoint-down(xl){ 
        padding-left: 1.5rem;
      }
      @include media-breakpoint-down(lg){ 
        padding-left:  2.5rem;
      }
      @include media-breakpoint-down(md){ 
        padding-left:  1.5rem;
      }
     
      li {
        flex: 0 0 50%;
        font-family: $secondary-font;
        text-transform: uppercase;
        margin-bottom: 20px;
        @include media-breakpoint-down(xl){ 
          padding-left: 15px;
          text-indent: -17px;
        }
        @include media-breakpoint-down(md){ 
          flex: 0 0 100%;
          margin-bottom: 12px;
        }
        svg {
          margin-right: 5px;
        }
        span {
          vertical-align : middle;
          color: #000000;
        }
        &:last-child {
          flex: 0 0 100%;
          margin-bottom: 0;
          
        }
      }
    }
  }
}

.artist-detail {
   .col-lg-7 {
    @include media-breakpoint-up(lg){ 
    margin-top: -1rem;
    }
   }
  .social__media__icons {
    justify-content: flex-start;
    svg {
      width: 43px;
      height: 43px;
    }
    @include media-breakpoint-down(lg){ 
      margin-top: .5rem;
    }
  }
  .traingle-shape {
    top: -100px;
  }
  @include media-breakpoint-down(xl){ 
    h4 {
      font-size: 2rem;
    }
  }
}
.artist-images {
  h4 {
    color: $white;
  }
}