


/**************Headings******/
h1{
  font-size: 3.75rem;
  color: #000;
  font-family: $primary-font;
  margin: 0;
  line-height: 4.5rem;
  @media screen and (max-width:1025px){
      font-size: 3rem;
      line-height: 3rem;
  }
  @include media-breakpoint-down(lg){
      font-size: 3rem;
      line-height: 3rem;
  }
  @include media-breakpoint-down(sm){
      font-size: 2.75rem;
      line-height: 3.25rem;
  }
}
h4{
    @include zt-heading-4(#000);
    @include media-breakpoint-down(sm){
        font-size: 2rem;
        br {
            display: none
        }
    }
}
h6{
    @include zt-heading-6(#000000);
}
.heading-34 {  
        font-size: 2.125rem;
        @include media-breakpoint-down(sm){
            font-size: 1.8rem;
        }
        &.oswald-font {
            font-family: $secondary-font;
        }
}
/****************Buttons**********/
.btn{
    --bs-btn-border-radius:0px;
    --bs-btn-bg:transparent;
    --bs-btn-disabled-border-color:transparent;
    --bs-btn-box-shadow:none;
    font-family: $secondary-font;
    --bs-btn-font-size:18px;    
    --bs-btn-font-weight:400;
    --bs-btn-line-height:27px;
    text-transform: uppercase;
    --bs-btn-padding-x: 30px;
    --bs-btn-padding-y: 8px;
    --bs-btn-hover-bg:#000;
    --bs-btn-hover-border-color:transparent;

    &.btn-style2 {
        background : none;
        border: 1px solid #FFFFFF;
        color: #fff;
    }
}

.btn-primary{
    --bs-btn-bg:#000;
    --bs-btn-border-color:transparent;
}

.btn-secondary{
    --bs-btn-bg:#fff;
    --bs-btn-border-color:#000;
    --bs-btn-color:#000;
}
.wk__link{
    color: #1FA79D;
    font-size: .875rem;
    line-height: 1.3125rem;            
    font-weight: 600;
        span{
            text-decoration: underline;                    
        }
        svg{
            margin-left: .3125rem;;
        }
}
.pr-0{
    padding-right: 0;
}
.pl-0{
    padding-left: 0;
}

/*************background Classes****/
.bg-retro {
    background: url(../media/bg-retro-white.png);
    background-repeat: no-repeat;
    background-size: cover;
    .container {
        position: relative;
        z-index: 1;
    }
}
.bg-retro-v2 {
    background: url(../media/bg-retro-white-v2.png);
    background-repeat: no-repeat;
    background-size: cover;
    .container {
        position: relative;
        z-index: 1;
    }
}
.orange-bg{
    background-color: $orange;
}
.pink-bg{
    background-color: $pink;
}
.blue{
    background-color: $blue;
}
.blue-bg{
    background-color: $blue;
}
/*******background graphics*******/
.traingle-shape {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    &--right {
        right: 0;
        left: inherit;
        top: -10rem;
    }
    &--bottom {
        bottom: -5rem;
        top: inherit;
    }
    @include media-breakpoint-down(lg){ 
        display: none;
    }
}

.dot-graphics-top {
    position: absolute;
    top: 0;
    right: 0;
    @include media-breakpoint-down(lg){ 
        display: none;
    }
}
.dot-graphics-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    @include media-breakpoint-down(lg){ 
        display: none;
    }
}

/***********Common p having font size 18px****/

    p {
        font-size: 1.125rem;
        line-height: 1.5625rem;
        @include media-breakpoint-down(md){
            font-size: 1rem;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }


.with-shadow>img {
    box-shadow: 0px 0px 60px rgb(0 0 0 / 25%);
}