$primary-font :'Bebas Neue', cursive;
$secondary-font: 'Oswald', sans-serif;
$ternary-font :  'Inter', sans-serif;
$white : #fff;
$grey : #757575;
$pink : #c04093;
$orange :#E1922E;
$blue :  #1FA79D;
$light-orange : #E7A858;
$black :#000000;





hr{
    border-top:1px solid #4a4a4a;
    opacity: 1;
}