$primary-font :'Bebas Neue', cursive;
$secondary-font: 'Oswald', sans-serif;
$white : #fff;
$black : #000;
$grey : #757575;
$pink : #c04093;
$yellow : #c5d646;
$orange : #F8A519;




hr{
    border-top:1px solid #4a4a4a;
    opacity: 1;
}